html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 90%;
}

.body {
  font-family: "Ubuntu", sans-serif;
}
.header {
  font-family: "Ubuntu", sans-serif;
  padding-top: 3rem;
  font-size: 3rem;
  text-align: center;
}
.overhead {
  display: flex;
}
.overhead-two {
  display: flex;
}
.overhead-three {
  display: flex;
}
.outline {
  font-family: "Ubuntu", sans-serif;
  justify-content: space-around;
  border: 2px solid #afafaf;
  text-align: center;
  background-color: #020202;
  color: #afafaf;
  width: 42rem;
  padding: 25px 20px;
  margin: 2rem auto;
  box-shadow: 1em 1rem 1rem #afafaf;
  transition: all 0.5s;
  animation: opening 15s;
}
.outline:hover {
  transform: scale(1.08);
}
.column-head {
  font-size: 2rem;
}

.column-author {
  font-size: 1.2rem;
  margin-top: 2rem;
}
.column-link {
  font-size: 1.1rem;
}
.column-image {
  background-position: center;
  margin-top: 1rem;
  background-size: 100%;
  height: 50vh;
  color: #afafaf;
  border: 0.4rem solid #303030;
  animation: opacity 36s;
}

#column-image-one {
  background-image: url(images/image_edgar.jpg);
}
#column-image-two {
  background-image: url(images/image_mark.jpg);
}
#column-image-three {
  background-image: url(images/image_william.jpg);
}
#column-image-four {
  background-image: url(images/image_charles.jpg);
}
#column-image-five {
  background-image: url(images/image_lewis.png);
}
#column-image-six {
  background-image: url(images/images_rowling.jpg);
}
#column-image-seven {
  background-image: url(images/image_hemingway.jpg);
}
#column-image-eight {
  background-image: url(images/image_virginia.jpg);
}
#column-image-nine {
  background-image: url(images/image_fitzgerald.jpg);
}

.button {
  transition: all 0.5s;
  background-color: #dbdbdb;
}
.button:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.2);
  transition: margin-right 2s ease-in;
  transition: background-color 2s;
  filter: brightness(150%);
  filter: hue-rotate(90deg);
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
}
.animation {
  height: 2rem;
  width: 2rem;
  position: absolute;
  animation: loading 10s;
}
@keyframes opening {
  0% {
    opacity: 0%;
  }
}
@keyframes loading {
  0% {
    left: 50%;
    bottom: 10%;
    background-color: blueviolet;
  }
  25% {
    left: 50%;
    bottom: 20%;
    background-color: rgb(55, 43, 226);
  }
  50% {
    left: 55%;
    bottom: 20%;
    background-color: rgb(43, 174, 226);
  }
  75% {
    left: 55%;
    bottom: 10%;
    background-color: rgb(43, 226, 119);
  }
  100% {
    left: 50%;
    bottom: 10%;
    background-color: rgb(162, 226, 43);
  }
}
