html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

.head {
  padding-top: 3rem;
  font-size: 5rem;
  text-align: center;
}

.overhead {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85vw;
  margin: 1rem auto;
  background-color: rgb(244, 252, 244);
}

.subhead {
  box-shadow: 0.4rem 0.4rem 0.4rem rgb(110, 110, 110);
  background-color: rgb(186, 227, 253);
  border: 0.5rem solid #693232;
  text-align: center;
  height: auto;
  width: 29%;
  margin: 2.5rem;
  border-radius: 4%;
}

.subhead:hover {
  transform: scale(1.05);
}

.sub-image {
  animation: opening-animation 10s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1rem auto;
  height: 60%;
  width: 84%;
}

.sub-header {
  text-align: center;
  margin: 0.8rem auto;
  font-size: 2rem;
}

.sub-description {
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
}

.sub-link {
  margin: 0.6rem auto;
  font-size: 1.5rem;
}

.sub-button {
  border-radius: 8%;
  border: 0.3rem solid honeydew;
  background-color: honeydew;
  transition: all 0.5s;
}

#sub-button-1:hover {
  background-color: #ffffff;
  transform: scale(1.2);
  transition: margin-right 2s ease-in;
  filter: brightness(150%);
  filter: hue-rotate(90deg);
}

#sub-button-2:hover {
  background-color: #ffffff;
  transform: scale(1.2);
  transition: margin-right 2s ease-in;
  filter: brightness(150%);
  filter: hue-rotate(90deg);
}

#sub-button-3:hover {
  background-color: #ffffff;
  transform: scale(1.2);
  transition: margin-right 2s ease-in;
  filter: brightness(150%);
  filter: hue-rotate(90deg);
}

#sub-button-4:hover {
  background-color: #ffffff;
  transform: scale(1.2);
  transition: margin-right 2s ease-in;
  filter: brightness(150%);
  filter: hue-rotate(90deg);
}

#sub-button-5:hover {
  background-color: #ffffff;
  transform: scale(1.2);
  transition: margin-right 2s ease-in;
  filter: brightness(150%);
  filter: hue-rotate(90deg);
}

@keyframes opening-animation {
  0% {
    opacity: 10%;
  }
}

@media screen and (max-width: 480px) {
  .subhead {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .subhead {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .subhead {
    width: 80%;
  }
}

#sub-image-1 {
  background-image: url(photos/images_alex.png);
}
#sub-image-2 {
  background-image: url(photos/images_gil.png);
}
#sub-image-3 {
  background-image: url(photos/images_gus.png);
}
#sub-image-4 {
  background-image: url(photos/images_haley.png);
}
#sub-image-5 {
  background-image: url(photos/images_harvey.png);
}
#sub-image-6 {
  background-image: url(photos/images_krobus.png);
}
#sub-image-7 {
  background-image: url(photos/images_leah.png);
}
#sub-image-8 {
  background-image: url(photos/images_maru.png);
}
#sub-image-9 {
  background-image: url(photos/images_robin.png);
}
